    /* Barra de busca */
nav {
    z-index: 1;
}
.sb_dropdown {
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute;
    height: 0;    
    width: 400px;
    top: 50px;
    left: 100px;
    z-index: 1;
    border: 0.5px solid rgba(100, 101, 109, 0.6);
    box-shadow: 0px 0px 2px 5px rgba(22, 140, 151, 0.15);
}


.sb_dropdown-open {
    display: block;
	height: 100px !important;
    padding-top: 75px !important;
    text-align: center;
	transition: all .2s;
}
.dropdown-menu{
    box-shadow: 0px 0px 2px 5px rgba(22, 140, 151, 0.3);
    

}
.dropdown-notification .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    right: 18px;
    margin-left: -8px;
}

.dropdown-notification{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(22, 140, 151, 0.4);
    -moz-box-shadow:    0px 5px 15px 0px rgba(22, 140, 151, 0.4);
    box-shadow:         0px 5px 15px 0px rgba(22, 140, 151, 0.4);
    width: 400px !important;
    top:48px;
}
.img-notification{
    background-color:black;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
a .titulo-notification{
    float:left !important;
}
a .descricao-notification{
    text-align: left;
    float: left;
    padding: 0;
    margin: 0;
    color:black;
}
.notification-objeto {
    position: relative;
    padding: 05px;
    padding-left: 15px;
    margin-bottom: 5px;
    background-color: #EDEFF1;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #ddd;

}
.notification-objeto:hover{
    background-color: #ededed;
    -webkit-box-shadow: inset 0px 0px 30px -2px rgba(0,0,0,0.2);
-moz-box-shadow: inset 0px 0px 30px -2px rgba(0,0,0,0.2);
box-shadow: inset 0px 0px 30px -2px rgba(0,0,0,0.2);
}

.sc_usr{
    bottom: 0;
}
.sc_grp{
    bottom: 0;
}
#sc_box{
    width:200px;
    border: none;
    background-color: transparent;
    height: 10px;

}
.dropdown-user {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(22, 140, 151, 0.4);
    -moz-box-shadow:    0px 5px 15px 0px rgba(22, 140, 151, 0.4);
    box-shadow:         0px 5px 15px 0px rgba(22, 140, 151, 0.4);
    top:48px;
}
.dropdown-user .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    top: -12px;
    right: 20%;
    margin-left: -8px;
}
#sc_box:focus{
    box-shadow: none;
}

.btn{
    border: none;

}
.sc-bar{
    background-color: #fff;
    border-radius: 20px;
    margin-top: -1px;
}
.sb_search,
.sb_search:hover,
.sb_search:active{
    background-color: transparent;

}
.sc-bar .form-control:focus + .search-icon,
.sc-bar:hover .search-icon {
    color:#51A2A9 !important;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    transition: 0.5s;
}

.search-icon{
    font-weight: bold;
    transition: 0.5s;
    color:#014E55 !important;
}

/* navbar */
.navbar{
    max-height: 30px;
}
.navbar-default {
    background-color: #157F89;
    -moz-box-shadow:     inset 0 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:  inset 0 0 1px rgba(0,0,0,0.2);
    box-shadow:          inset 0 0 1px rgba(0,0,0,0.2);
    border:1px solid #555;
    border-radius: 0px;
    max-height: 30px;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-brand{
    margin-top: -2px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#fff;
    
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #4CA2AA;
    color:white;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a > .icon-nav, 
.navbar-default .navbar-nav > .open > a:hover > .icon-nav, 
.navbar-default .navbar-nav > .open > a:focus > .icon-nav{
    color: #fff !important;
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    transition: 0.005s;
    -webkit-text-stroke-width: 0px;
-webkit-text-stroke-color: #51A2A9;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.bell{
    position:relative;
    font-size: 22px;
    margin-top: -4px;
}

a:hover, span:hover {
 color:#014E55;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #fff;
    border-radius: 7px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.icon-li:hover .icon-nav{
    -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #51A2A9;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    transition: 0.2s;
}

.icon-nav{
    transition: 0.5s;
    color:#014E55 !important;
}
.icon-li{
}


.menu_usuario{
    margin-top: -3px;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #fff;
    }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #fff;
    }
}
#container-moeda {
    background-color: #014E55;
    border-radius: 16px;
    max-width: 120px;
    max-height: 32px;
    float: left;
    padding: 2px 10px 2px 10px;
    margin-right: 10px;
    margin-top: 7px;
    
}
#container-moeda img,
#container-moeda p {
    display: inline-block !important; 
}

/* firefox*/
#container-moeda img:before {
    
}

#container-moeda img {
    float: left;
    margin-left: 0;
    background-color: transparent;
    height: 20px;
    width: 20px;
    margin-top: 3px;
}
#container-moeda p {
    margin-top: 2.5px;  
    font-weight: 600;
    clear: right;
    color:white;
    margin-left: 5px;
    font-size: 15px;
}


@media (min-width: 1px) and (max-width: 480px) {
    #sc_box{
        width: 100px;
        border: 1px solid black;
    }
    .sc-bar{
    background-color: #fff;
    border-radius: 5px;
}
}

.home{
    font-size: 18px;
    color:#014E55 !important;
    margin-top: -10px;
}

.scroll{
  height:300px;
   overflow:auto;
    background:#fff;
}
.Ver-mais-notificacoes{

    border-top: 1px solid #ddd;
    padding: 5px;
    max-height: 30px;
    margin-bottom: 0px;
}
.Ver-mais-notificacoes:hover{
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 50px -2px rgba(21, 127, 137,0.5);
-moz-box-shadow: inset 0px 0px 50px -2px rgba(21, 127, 137,0.5);
box-shadow: inset 0px 0px 50px -2px rgba(21, 127, 137,0.5);

}
.Ver-mais-notificacoes:hover p{
-webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    transition: 0.2s;
}