body{
    background-color: rgba(125, 197, 204, 0.2);
}
a, a:after {
    color:#157F89;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none !important;
}
h2{
    color:#157F89;
    font-size: 30px;
}
.titulo, .span-tipo-post{
    clear: both;
}
.post-objeto, .objeto-postar {
    margin-top: 30px;
}
.post-objeto {
    padding: 20px;
    background-color: #fff;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 2px 5px rgba(22, 140, 151, 0.08);
    border-radius: 15px;
}
.objeto-postar {
    padding: 10px;
    margin-left: 30px;
    background-color: #fff;
}
.objeto-postar input[type="text"] {
    width: 90%;
    padding: 50px 10px;
    margin-bottom: 10px;
}
.span-tipo-post {
    float: right;
    color: #bbb;
    font-size: 14px;
}
.btn-shyme-avaliar {
    border: 1px solid #71BCEE;
    border-radius: .7em;
    background-color: white;
    color: #71BCEE;
    font-weight: bold;
}
textarea {
    resize: none;
    display: block !important;
}
.btn-shyme-default {
    color: white;
    border-radius: 5px;
    font-weight: 500;
    background-color: #34CA3B;
    margin-bottom: 0;
    margin-left: 10px;
}

.btn-shyme-default:hover {
    background-color: #49CE50;
    color: white;
    transition: all 0.2s;
}

.btn-shyme-avaliar:hover {
    color: #2095E3;
    border: 1px solid #2095E3;
    transition: all 0.4s;
}


.objeto-postar .btn-shyme-default {
    float: right;
}
.nav-grupos{
    background-color: #fff;
}

.glyphicon:hover {
    color: #151515;
}
.form-inline .glyphicon {
    padding-right: 2px;
}
